@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* universal */

:root{
    --primary-color: #002244;
    --secondary-color: #3457D5;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.primary-btn{
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5px 15px;
    color: grey;
    background-color: #e1e1e1;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0 4px 9px -1px grey;
}

.primary-btn:hover{
    box-shadow: 0 4px 9px -1px var(--secondary-color);
}

/* navigation bar */
.navbar{
    background-color: var(--primary-color);
}

.navbar-content a{
    color: white;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 15px 10px;
    position: relative;
}


.navigation-links{
    width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.navigation-links a:hover{
    color: var(--secondary-color);
}

.logo, .navigation-links > li{
    margin: 5px 0;
}

#nav-toggle{
    display: none;
}

/* main content */

.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text-box{
    width: 48%;
}

.welcome-message{
    color: grey;
}

.main-text{
    font-weight: 400;
    margin: 10px 0;
}

.main-text span{
    color: var(--secondary-color);
}

.main-image-box{
    width: 48%;
    position: relative;
}

.main-image-box i{
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-shadow: 3px 3px 10px 0px grey, -3px -3px 10px -3px grey;
}

.main-image-box i:last-child{
    right: 0;
}

.carousel{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    scroll-behavior: smooth;
}

.carousel img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

/* footer */

.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* responsive */

@media (max-width: 900px) {
    .main-content{
        flex-direction: column-reverse;
    }
    .main-text-box{
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .main-image-box{
        width: 80%;
    }
}

@media (max-width: 550px){
    .main-image-box{
        width: 100%;
    }
}

@media (max-width: 460px){
    .main-content{
        padding: 10px 5px;
    }
    #nav-toggle{
        display: block;
        font-size: 1.2rem;
        position: relative;
        top: 0.3rem;
    }
    .navigation-links{
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-color);
        z-index: 1;
        top: 100%;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: 0.5s ease-out;
    }
    .active{
        left: 0;
    }
    .carousel img{
        height: 300px;
    }
}