<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MohitWeather</title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://kit.fontawesome.com/396cfbcfcf.js" crossorigin="anonymous"></script>
</head>

<body>
    
    {{>navbar}}

    <main>
        <div class="container main-content">
            <div class="main-text-box">
                <h4 class="welcome-message">Welcome to weather app</h4>
                <h1 class="main-text">Get the Latest <span>Weather</span> Info Of Your City</h1>
                <a href="/weather"><button class="primary-btn">CHECK NOW</button></a>
            </div>
            <div class="main-image-box">
                <i class="fa-solid fa-arrow-left left-arrow"></i>
                <div class="carousel">
                    <img src="images/img-1.jpg" alt="">
                    <img src="images/img-2.png" alt="">
                    <img src="images/img-3.jpg" alt="">
                </div>
                <i class="fa-solid fa-arrow-right right-arrow"></i>
            </div>
        </div>
    </main>

    {{>footer}}

    <script src="script/script.js"></script>
</body>

</html>